body, html {
	font-size: 100%;
    height: 100%;
	margin: 0;
}

.bgimg {
	background: linear-gradient(rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url(../images/123.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
}

.topleft {
    position: absolute;
    top: 0;
    left: 16px;
}

.bottomRight {
    position: fixed;
    bottom: 0;
	right: 16px;
	margin: 10px;
}

.bottomRight2 {
    position: fixed;
    bottom: 0;
	left: 0;
	margin: 10px;
	z-index: 991;
}
.bottomRight22 {
  position: fixed;
  top: 0;
right: 16px;
margin: 10px;
z-index: 991;
}

.bottomRight3 {
    position: fixed;
    bottom: 80px;
	right: 16px;
	margin: 10px;
	z-index: 991;
}

.middle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

hr {
    margin: auto;
    width: 90%;
}

input[type=text] {
	width: 40%;
	margin: auto;
	padding: 12px 24px;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 0.7em;
}

.btn {
	border: 2px solid #ccc;
	background: none;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
  }
  
  .btn:hover {
	background-color: white;
	color: black;
  }

  .green{
	  width: 100px;
	  border-color: #4CAF50;
	  background-color: #4CAF50;
  }
  .green_text{
    color: rgb(163, 221, 165);
  }

  .blue{
	width: 100px;
	border-color: #2196F3;
	background-color: #2196F3;
}

.success {
	color: black;
	font-size: 0.7em;
	text-align: left;
	padding: 1px 20px;
	position: absolute;
	right: 10px;
	margin: 1%;
	width: 40%;
    background-color: #ddffdd;
    border-left: 10px solid #4CAF50;
}

.info {
	color: black;
	font-size: 0.7em;
	text-align: left;
	padding: 1px 20px;
	position: fixed;
	top: 10px;
	right: 10px;
	margin: 1%;
	width: 40%;
    background-color: #e7f3fe;
    border-left: 10px solid #2196F3;
}

.success2 {
	color: black;
	font-size: 0.7em;
	text-align: left;
	padding: 1px 20px;
	position: fixed;
	top: 10px;
	right: 10px;
	margin: 1%;
	width: 40%;
    background-color: #e7f3fe;
    border-left: 10px solid #4CAF50;
}

.info2{
  height: 180px;
}


.info3{
  height: 180px;
  width: 250px;
}

.info4{
  height: 100px;
}
.info5{
  height: 290px;
}

.closebtn {
	position: absolute;
    right: 0px;
    top: -10px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 2.3em;
    cursor: pointer;
    transition: 0.1s;
}
.speakbtn {
	position: absolute;
    right: 0px;
    top: 35px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 2em;
    cursor: pointer;
    transition: 0.1s;
}
.speakbtn2 {
	position: absolute;
    right: 0px;
    top: 85px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 2em;
    cursor: pointer;
    transition: 0.1s;
}
.speakbtn3 {
	position: absolute;
    right: 0px;
    top: 130px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 2em;
    cursor: pointer;
    transition: 0.1s;
}

.closebtn:hover,.speakbtn:hover,.speakbtn2:hover,.speakbtn3:hover {
    color: #2196F3;
}

.room{
  font-size: 0.7em;
}






/* QUEUE PAGE */
.bgimg2 {
	background: linear-gradient(rgba(26,26,26,0.5), rgba(26,26,26,0.5)), url(../images/123.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
}

.middle2 {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myTable {
	border-collapse: collapse;
	width: 80%;
	/* position: fixed; */
	/* left: 10%; */
	margin: auto;
	background: #ffffff;
	border: 3px solid rgb(255, 255, 255);
	font-size: 18px;
	border-radius: 5px;
  }
  
  #myTable th, #myTable td {
	text-align: left;
	padding: 18px;
  }
  #myTable tr {
	color: #000000;
  }

  #myTable th{
	padding: 20px;
	font-size: 1.5em;
  }
  #myTable td.number{
	  text-align: left;
	  padding-left: 8%;
  }
  #myTable td.next a{
	  color: black;
  }
  
  #myTable tr {
	border-bottom: 1px solid #f2f2f2;
  }
  
  #myTable tr.header, #myTable tr:hover {
	background-color: #4CAF50;
	color: white;
	/* cursor: pointer; */
  }
  #myTable tr.header{
	  color: white;
	background-color: #4CAF50;
  }

  .btn2 {
	text-decoration: none;
	border: none;
	background-color: inherit;
	padding: 12px 24px;
	font-size: 15px;
	cursor: pointer;
	display: inline-block;
}

.btn2:hover {background: #ffffff;}






/* PAGE LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
	position: fixed;	
    top: 0;
    left: 0;
    background: linear-gradient(rgba(26,26,26,0.3), rgba(26,26,26,0.3)), url(../images/123.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    display:block;
    justify-content: center;
    align-items: center;
  }
  .loader-wrapper a{
    margin-top: 50px;
  }
  .loader_header{
	  text-align: center;
	  margin: 3%;
	  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	  color: white;
	  font-size: 3em;
  }


.card {
	float: left;
	margin: 8% 2% 1% 1%;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
	transition: 0.3s;
	max-width: 300px;
	background: white;
}
.card img{
	height: 250px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}

.container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 0.5em;
    padding: 2px 16px;
}











.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  left: 47%;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}




.button {
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}